/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 25px;
}
/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin:  2px;
  
    
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Contact us section */
#contact-box form{
    width:80%;


/* Utility classes */
.h1{
    margin-top: 1px;
    font-size:26px;
}
.h2{
    margin-top: -30px;
    
   
    font-size:26px;
}
.h3{
    margin-top: -77px;
    font-size:26px;
}
.h4{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}